# Exclude dev files
prune tests
prune docs
prune .github
exclude .gitignore
exclude .isort.cfg
exclude .pre-commit-config.yaml
exclude readthedocs.yaml
exclude mypy.ini

# Include published needed files
include LICENSE
include CHANGES.txt
recursive-include spatialtis/ *.pyinclude versioneer.py
include spatialtis/_version.py
include versioneer.py
