alphashape
h5py<=2.10.0
anndata
bokeh
colour
colorama
Ipython
leidenalg
matplotlib
neighborhood_analysis
numpy
pandas
pyecharts
python-igraph
ray
scikit-image
selenium
scikit-learn
scipy
seaborn
Shapely
snapshot_phantomjs
spatialentropy
tqdm
tifffile
rich[jupyter]

# test suite
pytest
pytest-cov
pytest-datadir

# doc
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
setuptools
nbsphinx