alphashape
anndata
bokeh
leidenalg
matplotlib
neighborhood_analysis>=0.3.0
numpy
pandas
pyecharts
python-igraph
ray
scikit-image
selenium
scikit-learn
scipy
seaborn
Shapely
snapshot_phantomjs
spatialentropy
tifffile
rich[jupyter]
lightgbm
ipython

# dev
python-hmr

# test suite
pytest
pytest-cov
pytest-datadir

# doc
sphinx
sphinx-book-theme
sphinx-autodoc-typehints
setuptools
nbsphinx
nbsphinx_link
jinja2<3.0.0