numpy
pandas
anndata
matplotlib
seaborn
milkviz
ray; python_version < '3.10'
scikit-image
scipy
rich[jupyter]
lightgbm
ipython

# test suite
pytest
pytest-cov

# doc
sphinx
sphinx-book-theme
sphinx-autodoc-typehints
setuptools
nbsphinx
nbsphinx_link