h5py
anndata
bokeh
leidenalg
matplotlib
numpy
pandas
pyecharts
python-igraph
ray
scikit-image
selenium
scikit-learn
scipy
seaborn
Shapely
snapshot_phantomjs
tqdm
tifffile
rich[jupyter]
lightgbm
ipython

# test suite
pytest
pytest-cov
pytest-datadir

# doc
sphinx
sphinx-book-theme
sphinx-autodoc-typehints
setuptools
nbsphinx
nbsphinx_link