alphashape==1.0.2
anndata==0.7.1
bokeh==2.0.0
colour==0.1.5
Ipython==7.13.0
leidenalg==0.7.0
libpysal==4.2.2
matplotlib==3.2.0
numpy==1.18.1
olefile==0.46
pandas==1.0.1
Pillow==7.0.0
pointpats==2.1.0
python-igraph==0.8.0
ray==0.8.2
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
Shapely==1.7.0